@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme{
  --color-primary: #3B465C;
  --color-secondary: #E9E8D4;
  --light-blue: #3399ff;
}

/* Custom utility classes */
.btn-primary {
  @apply bg-primary text-white;
}